<template>
  <div class="bottom-button">
    <div
      class="add-remove"
      :class="{'bg-red': isCardClicked, 'add-task-clicked': addingTask}"
      @click="$emit('addingTask')"
    >
      <font-awesome-icon
        v-if="!isCardClicked"
        class="complete-icon"
        icon="plus"
      />
      <font-awesome-icon
        v-else
        class="complete-icon"
        icon="trash-alt"
      />
    </div>
  </div>
</template>

<script>
export default {
    name: 'AddButton',
    props:{
        isCardClicked: Boolean,
        addingTask: Boolean
    }
}
</script>

<style>
.bottom-button{
  display: flex;
  position: fixed;
  right:0;
  left:0;
  justify-content: space-around;
  bottom: 2rem;
}
.add-remove{
  bottom: 0;
  width: 4.5rem;
  height: 4.5rem;
  text-align: center;
  display: flex;
  border-radius: 50%;
  background-color: blue;
  transition: all 0.5s;
}
.complete-icon{
  margin: auto;
  color: white;
}
.add-task-clicked{
  border-radius: 0;
  width: 100%;
}
.bg-red{
  background-color: red;
}
</style>