<template>
  <div>
    <div class="input-header">
      <font-awesome-icon
        class="close-input"
        icon="times"
        :class="{'rotateFont': closeClicked, 'reverse-rotateFont': !closeClicked}"
        @click="closeClicked = true; emitCloseInput()"
      />
    </div>
    <div class="input-container">
      <textarea
        class="task-input"
        :value="getInputTask"
        name="taskInput"
        rows="20"
        placeholder="What would you like to add?"
        autofocus
        @input="e => this.$store.commit('updateTaskInput', e.target.value)"
      />
    </div>
  </div>
</template>

<script>
export default {
 name:"AddTask",
 data(){
     return{
         closeClicked: false
     }
 },
 computed:{
     getInputTask(){
         return this.$store.state.taskInput;
     }
 },
 methods:{
     emitCloseInput(){
         setTimeout(()=>{
             this.$emit('closeInput');
         }, 500);
     }
 }
}
</script>

<style scoped>
.input-container{
    padding: 1rem;
}
.task-input{
    width: 100%;
    border: 0;
    font-size: 1.5rem;
    outline: none;
    resize: none;
}
.input-header{
    padding: 1rem 1rem 0 1rem;
}
textarea::-webkit-input-placeholder {
  color: #bbb;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: #bbb;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #bbb;  
}

textarea:-ms-input-placeholder {
  color: #bbb;  
}
textarea::placeholder {
  color: #bbb;  
}
.rotateFont{
  animation-name: spin;
  animation-duration: 1000ms;
}
.reverse-rotateFont{
  animation-name: spinRev;
  animation-duration: 750ms;
}
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}
@keyframes spinRev {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}
</style>