<template>
  <div
    class="board"
    @dragover.prevent
    @drag.prevent="drop"
  >
    <slot />
  </div>
</template>

<script>
export default {
    name: "Board",
    // methods:{
    //     drop: event => {
    //         console.log(event.dataTransfer);
    //         const card_id = event.dataTransfer.getData("card_id");
    //         const card = document.getElementById(card_id);

    //         card.style.display = "block";

    //         event.target.appendChild(card);
    //     }
    // }
}
</script>

<style scoped>
.board{
    width: 100%;
}
.card:last-child{
    margin-bottom: 0.5rem;
}
</style>