<template>
  <div 
    :id="id"
    :draggable="true"
    class="card"
    @dragstart="dragStart"
    @dragover.stop
    @mousedown="$emit('mousedown', $event)"
    @mouseup="$emit('mouseup', $event)"
  >
    <div
      v-if="completed"
      class="completed"
    >
      <font-awesome-icon
        class="complete-icon"
        :icon="['far', 'check-circle']"
      />
    </div>
    <div :class="{'margin-for-complete' : completed}">
      <p class="main-task">
        {{ taskContent }}
      </p>
      <p class="due-time grey-text">
        Due {{ dueDate }}
      </p>
    </div>
    <div v-if="!completed">
      <img
        class="alarm-icon"
        src="../assets/icons/alarm-icon.svg"
      >
    </div>
  </div>
</template>

<script>
export default {
    props: {
        id: String,
        taskId: Number,
        draggable: Boolean,
        completed: Boolean,
        taskContent: String,
        dueDate: String
    },
    methods: {
        async dragStart(event){
            const target = event.target;
            console.log(target);
            await event.dataTransfer.setData('card_id', target.id);
            console.log(event);
            this.$store.commit('removeTask', this.taskId)

            setTimeout(()=>{
                target.style.display = 'none'
            }, 0)
        }
    },
}
</script>

<style scoped>
.card{
    box-shadow: 0 2px 5px 0 #aaa5;
    background-color: white;
    padding: 1rem 0.5rem;
    border-radius: 8px;
    margin: 1rem 1rem 0 1rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.main-task{
    font-size: 1rem;
}
.due-time{
    font-size: 0.8rem;
    margin-top: 0.5rem;
}
.alarm-icon{
    width: 1rem;
}
.completed{
    background-color: #32ea32;
    position: absolute;
    height: 100%;
    top:0;
    left: 0;
    width: 3rem;
    border-radius: 8px;
    display: flex;
    align-items: center;
}
.complete-icon{
    color: white;
    margin: auto;
    font-size: 1.2rem;
}
.margin-for-complete{
    margin-left: 3rem;
}
</style>