<template>
  <div class="header">
    <div class="header-content">
      <p class="header-name">
        Hello {{ username }}
      </p>
      <p class="header-task">
        You have {{ taskCount }} tasks
      </p>
    </div>
    <div>
      <img
        class="header-image"
        src="../assets/nikitesh.jpg"
      >
    </div>
  </div>
</template>

<script>
export default {
    props:{
        username: {
          type: String,
          default: ''
        },
    },
    computed:{
        taskCount(){
            return this.$store.state.todoList.length;
        }
    }
}
</script>

<style>
.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem;
    
}
.header-image{
    width: 60px;
    border-radius: 50%;
}
.header-name{
    font-size: 1.5em;
    font-weight: bold;
}
.header-task{
    color: #555;
    padding-top: 0.5rem;
}
</style>