<template>
  <div id="app">
    <transition
      name="fade"
      mode="out-in"
    >
      >
      <div v-if="!addingTask">
        <Header
          v-if="!addingTask"
          username="Floyd Mullins"
        />
        <div
          v-if="!addingTask"
          class="board-container"
        >
          <Board>
            <transition-group
              name="list"
            >
              <Card
                v-for="task in getTasks"
                :id="`task${task.id}`"
                :key="task.id" 
                :task-id="task.id" 
                class="card-class" 
                :task-content="task.title"
                :due-date="task.dueDate"
                draggable 
                :completed="task.isCompleted"
                @mousedown="isCardClicked = true"
                @mouseup="isCardClicked = false"
              />
            </transition-group>
          </Board>
        </div>
      </div>
      <AddTask
        v-if="addingTask"
        @closeInput="addingTask = false"
      />
    </transition>
    <AddButton
      :adding-task="addingTask"
      :is-card-clicked="isCardClicked"
      @addingTask="addingTask = true"
    />
  </div>
</template>

<script>
import Card from "./components/Card";
import Board from "./components/Board";
import Header from "./components/Header";
import AddTask from "./components/AddTask";
import AddButton from "./components/AddButton";
export default {
  name: 'App',
  components: {
    Board,
    Card,
    Header,
    AddTask,
    AddButton
  },
  data(){
    return{
      isCardClicked: false,
      addingTask: false
      
    }
  },
  computed:{
    getTasks(){
      return this.$store.state.todoList
    }
  }
}
</script>

<style>
#app {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #2c3e50;
  position: relative;
}
.board-container{
  margin: auto;
  display: flex;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .25s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.list-enter-active,
.list-leave-active {
  transition: all 1s ease;
}
.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
</style>
